<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="achievements-section">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">
                    Recognitions and milestones I've reached along my journey
                </p>
            </div>
            <div class="achievements-container">
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <h3 class="achievement-title">Full Stack & UI/UX Skills</h3>
                    <p class="achievement-description">
                        Built full-stack apps using Java, Spring Boot, React—blending clean interfaces with scalable logic.UI/UX & Full Stack Skills. Expertise in Figma, Adobe Photoshop, and user-centered design
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h3 class="achievement-title">UI/UX Design Awards</h3>
                    <p class="achievement-description">
                        Secured 3rd position in an intercollege pitch for Karya Sarthi's UI and twice named Best Graphic Designer (IHMMC Hardware Club) for standout visual work.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <h3 class="achievement-title">Professional Certifications</h3>
                    <p class="achievement-description">
                        Earned the Google UX Design Professional Certificate and JPMorgan Software Engineering Certificate, validating expertise in user-centered design and technical problem-solving.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-code-merge"></i>
                    </div>
                    <h3 class="achievement-title">GitHub Contributions</h3>
                    <p class="achievement-description">
                        Actively contributed to open-source projects on GitHub, shared reusable code libraries, and consistently maintained personal repositories featuring full-stack applications.
                    </p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>